body {
    margin: 0px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
}
section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 18vh;
}
nav {
    display: flex;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
}
.nav-links2 {
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}
#logo-container {
    display: flex;
    padding-bottom: 25px;
}
img:hover {
    cursor: pointer;
}
.search {
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 45px;
    border: 1px solid #dfdbdb;
    border-radius: 20px;
}
#glass {
    height: 20px;
    padding-top: 12px;
    padding-left: 14px;
    opacity: 0.4;
}
.search:hover {
    box-shadow: 0 0 15px rgb(223, 220, 223)
}
.search > input {
    flex-grow: 8;
    border: none;
    outline: none;
}    
#buttons {
    display: flex;
    padding-top: 60px;
    opacity: 0.7;
}
.button1 {
    background-color: #f8f9fa;
    border: none;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
}
.button2 {
    background-color: #f8f9fa;
    border: none;
    border-radius: 4px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    user-select: none;
}
button:hover {
    cursor: pointer;
    box-shadow: #70757a;
}
a {
    margin: 5px 5px;
    text-decoration: none;
    color: #222
}
a:hover {
    text-decoration: underline;
}
.footer {
    background-color: #f2f2f2;
    position: fixed;
    width: 100vw;
    bottom: 0;
}
#footer-left {
    display: flex;
    justify-content: flex-start
    align-items: center;
    padding-left: 30px;
}
#footer-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 30px;
}
#glass {
    
}
ul > a, ul > img {
    padding: 0 8px;
}
#account:hover, #apps:hover {
    border-radius: 200;
    box-shadow: #70757a;
}
/* I had to directly copy the values of this next part =( */

@media (max-width: 630px) {
    .footer {
        flex-direction: column;
    }
    #footer-left {
        justify-content: center;
    }
    #footer-right {
        justify-content: center;
    }
    .logo-container {
        width: 95vw;
    }
}
@media (max-height: 522px) {
    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 20px;
    }
    footer {
        position: relative;
    }
}
@media (max-height: 522px) and (max-width: 630px) {
    body {
        overflow-x: hidden;
    }
    section {
        margin-bottom: 13px;
    }
    footer {
        position: relative;
    }
}

