* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header {
    display: flex;
    margin: auto;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-link { 
    font-size: 14px;
    color:#222;
    text-decoration: none;
}
.logo-container {
    
}
nav {
    flex: 1;
}
.glass {
    
}
.account {
    
}
.apps {
    
}